@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Sawarabi+Gothic&display=swap');
h1, h2, h3, p, div, nav, header, footer, section {
	margin: 0;
	padding: 0;
}
:root {
	scroll-behavior: smooth;
}
body {
	max-width: 980px;
	margin: auto;
}
#logo a {
    display: flex;
    justify-content: center;
	text-decoration: none;
	text-align: center;
    text-transform: none;
	font-size: 48px;
	color: #e93578;
	font-family: 'Dancing Script', cursive;
}
header .nav-item a{
    text-transform: uppercase;
}
header .nav-item .nav-link{
   font-weight: bold;
   margin: 10px;
}
header nav .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #b8416d;
    height: 1px;
    transform: scale(0);
    transition: all .03s;
}
header nav .nav-item a:hover::after {
   transform: scale(1);
}
@media (min-width: 650px) {
    header nav {
        display: flex;
        justify-content: center;
    }
}
.logo {
	display: flex;
	justify-content: center;
	font-weight: bolder;
	text-decoration: none;
	font-size: 78px;
	color: #e93578;
	font-family: 'Dancing Script', cursive;
}
.header {
	font-size: 28px;
	font-family: 'Sawarabi Gothic', sans-serif;
    text-align: center;
    font-weight: bold;
}
header .navbar-light {
    background-color: #fad2e0;
}
main {
    background-color: #fad2e0;
}
#home div .kredo {
	max-width: 550px;
	font-size: 26px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#our-sweets .header {
	padding-bottom: 30px;
	padding-top: 30px;
}
main .box article a {
	display: flex;
	justify-content: center;
    padding: 30px;
    font-size: 26px;
}
main .box article img {
    display: block;
    width: 100%;
}
@media (min-width: 550px) {
    main #our-sweets .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
@media (min-width: 650px) {
    main #our-sweets .box {
		grid-template-columns: 1fr 1fr 1fr;
        margin: 10px;
    }
}
.box a {
	font-size: 20px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.box a:hover {
	color: #f6a2bf
}
.price {
	font-size: 24px;
	color: #444444;
	text-decoration: none;
	text-align: center;
}
.choice-cake .text-bloc {
	display: flex;
	flex-direction: column;
	text-align: center;
    margin: 10px;
}
.img-bloc img {
	max-width: 100%;
}
.choice-cake {
	display: flex;
    align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.choice-cake .img-bloc {
	display: flex;
	justify-content: center;
}
@media (min-width: 550px) {
    main #customer-choice .container-customer-choice {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 20px;
    }
}
@media (min-width: 650px) {
    main #customer-choice .container-customer-choice {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px;
    }
}
.order-block p {
    max-width: 400px;
    text-align: center;
}
.order-block .order-candybar {
    display: flex;
    max-width: 100%;
}
@media (min-width:550px) {
    main #order .order-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
#order .order-block .forma {
    display: block;
    text-align: center;
    margin: 20px;
}
input {
    width: 100%;
    max-height: 40px;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px/20px;
}
label {
    font-size: 25px;
    padding-top: 10px;
}
textarea {
    width: 100%;
    height: 150px;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px/20px;
    font-family: 'Belgrano', serif;
}
::placeholder{
    font-size: 18px;
}
.button {
   width: 150px;
	max-height: 40px;
	margin: 20px;
	padding: 5px;
	font-size: 20px;
	color: black;
	background-color: #f6a2bf;
    border: none;
    border-radius: 20px/20px;
}
#contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
	background: #f6a2bf;
	padding: 20px;
}
@media (min-width: 650px) {
    #contacts .contacts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}
h3 {
	color: #444;
	text-align: center;
}
.icon {
	display: flex;
	justify-content: center;
}
.contacts {
	text-align: center;
}
iframe {
	margin: 30px 0 0 0;
	width: 100%;
}
footer {
	background: #f6a2bf;
	padding: 20px 20px;
}
.links {
	display: flex;
	justify-content: center;
}
footer p {
	text-align: center;
} 