@import url('https://fonts.googleapis.com/css?family=Belgrano|Dancing+Script&display=swap');
h1, h2, h3, p, div, nav, header, footer, section {
	margin: 0;
	padding: 0;
}
:root {
	font-family: 'Belgrano', serif;
	scroll-behavior: smooth;
	background: #fad2e0;
}
body {
	max-width: 980px;
	margin: auto;
}

#logo a {
	text-decoration: none;
	text-align: center;
	font-size: 48px;
	color: #e93578;
	font-family: 'Dancing Script', cursive;
}
header nav .menu {
	display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 5px;
}
header nav .menu a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px;
	color: #000;
	border: 1px solid transparent;
	text-shadow: 0 1px 0 white;
}

nav li a :hover {
	color: #a45f93;
}
@media (min-width: 650px) {
    header nav {
        display: flex;
    }
}
header .menu {
	flex:1;
}
.logo {
	display: flex;
	justify-content: center;
	font-weight: bolder;
	text-decoration: none;
	font-size: 78px;
	color: #e93578;
	font-family: 'Dancing Script', cursive;
}
#home img {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover; 
	padding-top: 10px;
	width:100%;
	min-height: 550px;
}
.header {
	font-size: 28px;
	text-align: center;
	padding: 20px;
}
#home div .kredo {
	width: 550px;
	font-size: 26px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#our-sweets .header {
	padding-bottom: 30px;
	padding-top: 30px;
}
main .container article a {
	display: flex;
	justify-content: center;
}
main .container article img {
    display: block;
    width: 100%;
}
main .container {
	max-width: 980px;
}
@media (min-width: 550px) {
    main #our-sweets .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
@media (min-width: 660px) {
    main #our-sweets .container {
		grid-template-columns: 1fr 1fr 1fr;
    }
}
.container a {
	font-size: 20px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.container a:hover {
	color: #f6a2bf
}
.price {
	font-size: 24px;
	color: #444444;
	text-decoration: none;
	text-align: center;
}
.choice-cake .text-bloc {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 300px;
}
.img-bloc img {
	width: 230px;
	height: 240px;	
}
.choice-cake {
	max-width: 980px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.choice-cake .img-bloc {
	display: flex;
	justify-content: center;

}
@media (min-width: 450px) {
    main #customer-choice .container-customer-choice {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}
@media (min-width: 650px) {
    main #customer-choice .container-customer-choice {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 650px) {
    #order {
        display: flex;
        flex-wrap: wrap;
    }
@media (min-width: 450px) {
    #order {
        display: flex;
        flex-wrap: wrap;
    }
}
#order {
	display: flex;
	justify-content: center;
}
.order-candybar {
	width: 370px;
	height: 270px;
	padding-top: 20px;
}
.order {
	width: 400px;
	height: 500px;
	margin: 20px 20px;
	text-align: center;
}
input {
	width: 400px;
	height: 40px;
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 10px;
}
textarea {
	width: 400px;
	height: 110px;
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 10px;
	border: none;
}
label {
	font-size: 20px;
}
.submit {
	width: 120px;
	height: 40px;
	margin: 20px;
	padding: 10px;
	font-size: 20px;
	color: black;
	background-color: #f6a2bf;
	border: none;
}
#contacts {
	background: #f6a2bf;
	padding: 20px;
}
@media (min-width: 650px) {
    #contacts .contacts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}
#contacts {
	max-width: 980px;
}
h3 {
	color: #444;
	text-align: center;
}
.icon {
	display: flex;
	justify-content: center;
}
.contacts {
	text-align: center;
}
iframe {
	margin: 30px 0 0 0;
	width: 100%;
}
footer {
	background: #f6a2bf;
	padding: 20px 20px;
}
.links {
	display: flex;
	justify-content: center;
}
footer p {
	text-align: center;
}


